* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#template-idd6 {
    flex-basis: 17%;
    background-color: rgb(283046);
    background-image: url("https://grapesjs-images.s3.amazonaws.com/grapesjsimages/left%20side%20bg1.png");
    background-repeat-x: repeat;
    background-repeat-y: repeat;
    background-position-x: left;
    background-position-y: top;
    background-attachment: scroll;
    background-size: auto;
}

#template-itfo {
    flex-basis: 62%;
    background-color: rgb(241244255);
    transform: translateX(0px)translateY(0px);
}

#template-iziz {
    flex-basis: 21%;
    background-color: rgb(250252254);
}

#template-idzb {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    height: 100vh;
}

#template-ixqf {
    flex-wrap: wrap;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#template-i2gk {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#template-i2ah {
    color: rgb(232231238);
    font-size: 15px;
    font-weight: 600;
}

#template-ip9i5 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-i1a71 {
    flex-basis: 32%;
    min-height: 32px;
    height: 32px;
}

#template-izyzy {
    color: black;
    width: 32px;
}

#template-i2mor {
    min-height: 32px;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 4px;
    padding-left: 0px;
}

#template-ix09x {
    color: rgb(232231238);
    font-size: 15px;
    font-weight: 500;
}

#template-ia6yq {
    color: black;
    width: 32px;
}

#template-i2ecy {
    flex-basis: 32%;
    min-height: 32px;
    height: 32px;
}

#template-iwzvy {
    min-height: 32px;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 4px;
    padding-left: 0px;
}

#template-iuco4 {
    color: rgb(232231238);
    font-size: 15px;
    font-weight: 500;
}

#template-ixx0h {
    color: black;
    width: 32px;
}

#template-iv0kt {
    flex-basis: 32%;
    min-height: 32px;
    height: 32px;
}

#template-i4e57 {
    min-height: 32px;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 4px;
    padding-left: 0px;
}

#template-i7r09 {
    color: rgb(000);
    font-size: 15px;
    font-weight: 600;
}

#template-ie28b {
    color: black;
    width: 32px;
    height: 32px;
}

#template-iusli {
    flex-basis: 32%;
    min-height: 32px;
    height: 32px;
}

#template-iy6je {
    min-height: 32px;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 4px;
    padding-left: 0px;
}

#template-ifs56 {
    color: rgb(232231238);
    font-size: 15px;
    font-weight: 500;
}

#template-iksrh {
    color: black;
    width: 32px;
}

#template-issmd {
    flex-basis: 32%;
    min-height: 32px;
    height: 32px;
}

#template-ilbeg {
    min-height: 32px;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 4px;
    padding-left: 0px;
}

#template-il3ue {
    color: rgb(232231238);
    font-size: 15px;
    font-weight: 500;
}

#template-id40h {
    margin-top: 160px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
}

#template-ichy5 {
    min-height: 30px;
    height: 30px;
    flex-basis: 30px;
    background-color: rgb(36101253);
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    max-width: 30px;
    text-align: center;
    margin-top: 6px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-ijkdv {
    min-height: 40px;
    height: 40px;
    flex-basis: 50%;
}

#template-i9qfn {
    color: black;
}

#template-innfz {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(353535);
    font-weight: 500;
    min-height: 23px;
    height: 40px;
}

#template-i2s3s {
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: rgb(250252255);
}

#template-iixngx {
    height: 1px;
    min-height: 1px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-iplkex {
    min-height: 40px;
    height: 40px;
    flex-basis: 20%;
}

#template-it8bl4 {
    background-color: rgb(255255255);
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(255255255);
    border-right-color: rgb(255255255);
    border-bottom-color: rgb(255255255);
    border-left-color: rgb(255255255);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: rgba(0000.08)0px3px5px0px;
}

#template-ihrr9l {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#template-i3pyqy {
    text-align: center;
}

#template-ir1nd4 {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: rgba(0000.17)0px3px5px0px;
    color: rgb(000);
}

#template-ims38g {
    color: black;
    height: 168px;
}

#template-ibsi1l {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 13px;
    color: rgb(9995115);
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(000);
    border-right-color: rgb(000);
    border-bottom-color: rgb(000);
    border-left-color: rgb(000);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-weight: 500;
}

#template-ij88vi {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(353535);
    line-height: 17px;
    text-align: left;
}

#template-iyeyt6 {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 500;
    color: rgb(9995115);
    line-height: 17px;
}

#template-i1rq9h {
    background-color: rgb(250252254);
    width: 60%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-top: 16px;
    margin-right: 0px;
    margin-bottom: 8px;
    margin-left: 38px;
    color: rgb(939393);
    font-size: 15px;
    font-weight: 400;
    box-shadow: rgba(0000.15)0px3px5px0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(1827777);
    border-right-color: rgb(1827777);
    border-bottom-color: rgb(1827777);
    border-left-color: rgb(1827777);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

#template-i7g2xl {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: rgb(241244255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-i9w0nk {
    min-height: 50px;
    text-align: right;
}

#template-iqdak4 {
    min-height: 50px;
    text-align: right;
    flex-basis: 20%;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-i8oyqg {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(000);
    font-weight: 500;
}

#template-i2t9kj {
    color: black;
}

#template-i0o9l {
    min-height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(2552552550.13);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(241241241);
    border-right-color: rgb(241241241);
    border-bottom-color: rgb(241241241);
    border-left-color: rgb(241241241);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    margin-top: 0px;
    margin-right: 16px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#template-i7ut96 {
    min-height: 40px;
    height: 40px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(241244255);
}

#template-ie9i4s {
    min-height: 40px;
    flex-basis: 70%;
}

#template-ig8xmv {
    min-height: 40px;
    flex-basis: 30%;
}

#template-if2dbz {
    color: black;
}

#template-i95lcc {
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    color: rgb(7889176);
    min-height: 40px;
    height: 40px;
    font-weight: 600;
    text-align: center;
}

#template-iz5gxw {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#template-ix09fg {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#template-i63rz7 {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    background-color: rgb(241244255);
    height: 62px;
    min-height: 50px;
}

#template-ixv9t {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(241244255);
    box-shadow: rgba(0000.22)0px3px6px0px;
}

#template-il170n {
    min-height: 60px;
}

#template-id7i {
    min-height: 84px;
    height: 297px;
}

#template-il4u72 {
    color: black;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    height: 50px;
}

#template-id6yi {
    height: 85vh;
}

#template-iqmjf {
    margin-top: 10%;
    margin-right: 10%;
    margin-bottom: 0px;
    margin-left: 10%;
    min-height: 50%;
    height: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: url("https://grapesjs-images.s3.amazonaws.com/grapesjsimages/pop%20up%20images.png");
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position-x: left;
    background-position-y: top;
    background-attachment: scroll;
    background-size: cover;
    background-color: rgb(250252255);
    box-shadow: rgba(0000.12)0px3px6px0px;
}

#template-iwjih {
    text-align: center;
    padding-top: 13px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-idcwv {
    flex-wrap: wrap;
    margin-top: 10%;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#template-i926s {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    text-align: center;
    color: rgb(9995115);
    font-size: 15px;
    font-weight: 500;
}

#template-i7wttw {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    text-align: center;
    color: rgb(9995115);
    font-size: 15px;
    font-weight: 500;
}

#template-iw35vi {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    text-align: center;
    color: rgb(9995115);
    font-size: 15px;
    font-weight: 500;
}

#template-ih4ms3 {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 40px;
    width: 40%;
    color: rgb(255255255);
    font-size: 15px;
}

#template-i580j {
    color: rgb(000);
}

#template-irytrr {
    color: rgb(000);
}

#template-ilousp {
    color: rgb(000);
}

@media(max-width:992px) {
    #template-idd6 {
        display: none;
    }

    #template-iziz {
        display: none;
    }

    #template-ijkdv {
        display: none;
    }

    #template-iplkex {
        flex-basis: 50%;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 22px;
        max-width: 100%;
    }
}

@media(max-width:768px) {
    .gjs-row {
        flex-wrap: wrap;
    }
}

@media(max-width:575px) {
    #template-innfz {
        font-size: 15px;
    }

    #template-i2s3s {
        text-align: right;
    }

    #template-ijkdv {
        display: none;
    }

    #template-it8bl4 {
        width: 100%;
        max-width: 100%;
    }

    #template-iplkex {
        text-align: right;
        max-width: 100%;
    }

    #template-iwjih {
        margin-top: 20px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    #template-idcwv {
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
    }

    #template-ih4ms3 {
        width: 50%;
    }

    #template-iw35vi {
        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    #template-i7wttw {
        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    #template-iqmjf {
        margin-top: 20%;
        margin-right: 10%;
        margin-bottom: 0px;
        margin-left: 10%;
    }
}